---
- name: Configure IP Host Entries
  cisco.ios.ios_config:
    lines:
      - "ip host {{ item.name }} {{ item.ip }}"
  loop: "{{ ip_hosts | default([]) }}"
  when: ip_hosts is defined
  diff: yes
  tags: hosts

- name: Save Configuration
  cisco.ios.ios_config:
    save_when: always
  tags: save


