---
- name: Deploy Layer 3 Devices (Routers)
  hosts: layer3
  gather_facts: no

  pre_tasks:
    - import_tasks: preTasks.yml

  tasks:
    - name: Configure L3 Interfaces
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.name }}"
            description: "{{ item.description | default(omit)}}"
            enabled: True
        state: merged
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - item.name not in (management_interface | default([]))
      tags: l3_interfaces

    - name: Configure L3 Interfaces IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: "{{ item.name }}"
            ipv4:
              - address: "{{ item.ipv4.address | default(omit) }}/{{ item.ipv4.prefix | default(omit) }}"
            ipv6:
              - address: "{{ item.ipv6.address | default(omit) }}"
        state: merged
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - item.name not in (management_interface | default([]))
      tags: l3_interfaces

    - name: Configure Static Routes
      cisco.ios.ios_static_routes:
        config:
          - address_families:
              - afi: ipv4
                routes:
                  - dest: "{{ item.dest }}/{{ item.prefix }}"
                    next_hops:
                      - forward_router_address: "{{ item.next_hop }}"
                        distance_metric: "{{ item.ad | default(omit) }}"
        state: merged
      loop: "{{ static_routes }}"
      when: static_routes is defined
      tags: static_routes

    - name: Configure IP Host Entries
      cisco.ios.ios_config:
        lines:
          - "ip host {{ item.name }} {{ item.ip }} {{ item.ipv6 }}"
      loop: "{{ ip_hosts | default([]) }}"
      when: ip_hosts is defined
      diff: yes
      tags: hosts

    - name: Save Configuration
      cisco.ios.ios_config:
        save_when: always
      tags: save