---
- name: Encrypt plaintext passwords
  cisco.ios.ios_service:
    config:
      password_encryption: true
    state: merged
  tags: base

- name: Ensure Password min. length
  cisco.ios.ios_config:
    lines:
      - "security passwords min-length {{ security.min_password_length }}"
  when:
    - "'layer3' in group_names"
  tags: base

- name: Enable Login block
  cisco.ios.ios_config:
    lines:
      - "login block-for {{ security.login_block_for }} attempts {{ security.login_attempts }} within {{ security.login_within }}"
  tags: base

- name: Configure MOTD banner
  cisco.ios.ios_banner:
    banner: motd
    text: "Welcome to {{ hostname }}!"
  tags: base

- name: Enable IP Routing and IPv6 Unicast Routing
  cisco.ios.ios_config:
    lines:
      - "ip routing"
      - "ipv6 unicast-routing"
  when:
    - "'layer3' in group_names or 'layer23' in group_names"
  tags: base

- name: Configure Default Gateway
  cisco.ios.ios_config:
    lines:
      - "ip default-gateway {{ default_gateway }}"
  when: default_gateway is defined
  tags: base